mb-sm {
  margin-bottom: 2rem;
}

mb-md {
  margin-bottom: 3rem;
}

mb-lg {
  margin-bottom: 4rem;
}

mb-hg {
  margin-bottom: 8rem;
}

mt-sm {
  margin-top: 2rem;
}

mt-md {
  margin-top: 3rem;
}

mt-lg {
  margin-top: 4rem;
}

mt-hg {
  margin-top: 8rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #FFF8E7;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden;
}

.container.info-bar {
  display: flex;
}

.container.header {
  display: flex;
}

.container.home-layout {
  display: grid;
  grid-template-rows: 120vh repeat(4, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
@media only screen and (max-width: 75em) {
  .container.home-layout {
    grid-template-rows: 20vh 100vh min-content repeat(2, 63vw) repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(1fr));
  }
}
@media only screen and (max-width: 68.75em) {
  .container.home-layout {
    grid-template-rows: 20vh 100vh min-content repeat(2, 55vw) repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(1fr));
  }
}
@media only screen and (max-width: 56.25em) {
  .container.home-layout {
    grid-template-rows: 20vh 100vh min-content 330vw min-content repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 37.05em) {
  .container.home-layout {
    grid-template-rows: 20vh 100vh min-content 300vw min-content repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
}
@media only screen and (max-width: 31.25em) {
  .container.home-layout {
    grid-template-rows: 20vh 120vh min-content 300vw min-content repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0vw, 1fr));
  }
}
@media only screen and (max-width: 25em) {
  .container.home-layout {
    grid-template-rows: 20vh 100vh min-content 450vw min-content repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0vw, 1fr));
  }
}

.container.services-layout {
  display: grid;
  grid-template-rows: 20vh 40vh repeat(7, min-content) 30vh min-content 30vh min-content min-content;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

/* Media Queries */
@media only screen and (max-width: 75em) { /* Replace $bp-largest */
  .container.services-layout {
    grid-template-rows: 20vh 30vh repeat(7, min-content) 30vh min-content 30vh min-content min-content;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 68.75em) { /* Replace $bp-large */
  .container.services-layout {
    grid-template-rows: 20vh 30vh repeat(7, min-content) 30vh min-content 30vh min-content min-content;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 56.25em) { /* Replace $bp-medium */
  .container.services-layout {
    grid-template-rows: 20vh 30vh repeat(7, min-content) 30vh min-content 30vh min-content min-content;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 37.05em) { /* Replace $bp-small */
  .container.services-layout {
    grid-template-rows: 20vh 30vh repeat(7, min-content) 30vh min-content 30vh min-content min-content;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 31.25em) { /* Replace $bp-smaller */
  .container.services-layout {
    grid-template-rows: 20vh 25vh repeat(7, min-content) 30vh min-content 30vh min-content min-content;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 25em) { /* Replace $bp-smallest */
  .container.services-layout {
    grid-template-rows: 20vh repeat(8, min-content) 30vh min-content 30vh min-content min-content;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}
.pickup-layout {
  grid-template-rows: 20vh 120vh repeat(4, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
@media only screen and (max-width: 75em) {
  .pickup-layout {
    grid-template-rows: 20vh 120vh repeat(4, min-content);
    grid-template-columns: repeat(auto-fit, minmax(1fr));
  }
}
@media only screen and (max-width: 68.75em) {
  .pickup-layout {
    grid-template-rows: 20vh 120vh repeat(4, min-content);
    grid-template-columns: repeat(auto-fit, minmax(1fr));
  }
}
@media only screen and (max-width: 56.25em) {
  .pickup-layout {
    grid-template-rows: 20vh 120vh repeat(4, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 37.05em) {
  .pickup-layout {
    grid-template-rows: 20vh 120vh repeat(4, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));
  }
}
@media only screen and (max-width: 31.25em) {
  .pickup-layout {
    grid-template-rows: 20vh 120vh repeat(4, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0vw, 1fr));
  }
}
@media only screen and (max-width: 25em) {
  .pickup-layout {
    grid-template-rows: 20vh 120vh repeat(4, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));
  }
}

.about-layout {
  grid-template-rows: 20vh min-content 40vh repeat(2, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
@media only screen and (max-width: 75em) {
  .about-layout {
    grid-template-rows: 20vh min-content 40vh repeat(2, min-content);
    grid-template-columns: repeat(auto-fit, minmax(1fr));
  }
}
@media only screen and (max-width: 68.75em) {
  .about-layout {
    grid-template-rows: 20vh min-content 40vh repeat(2, min-content);
    grid-template-columns: repeat(auto-fit, minmax(1fr));
  }
}
@media only screen and (max-width: 56.25em) {
  .about-layout {
    grid-template-rows: 20vh repeat(4, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 37.05em) {
  .about-layout {
    grid-template-rows: 20vh repeat(4, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));
  }
}
@media only screen and (max-width: 31.25em) {
  .about-layout {
    grid-template-rows: 20vh repeat(4, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0vw, 1fr));
  }
}
@media only screen and (max-width: 25em) {
  .about-layout {
    grid-template-rows: 20vh repeat(4, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0vw, 1fr));
  }
}

.contact-layout {
  grid-template-rows: 20vh 60vh repeat(3, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
@media only screen and (max-width: 75em) {
  .contact-layout {
    grid-template-rows: 20vh 120vh repeat(4, min-content);
    grid-template-columns: repeat(auto-fit, minmax(1fr));
  }
}
@media only screen and (max-width: 68.75em) {
  .contact-layout {
    grid-template-rows: 20vh 120vh repeat(4, min-content);
    grid-template-columns: repeat(auto-fit, minmax(1fr));
  }
}
@media only screen and (max-width: 56.25em) {
  .contact-layout {
    grid-template-rows: 20vh 120vh repeat(4, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 37.05em) {
  .contact-layout {
    grid-template-rows: 20vh 120vh repeat(4, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));
  }
}
@media only screen and (max-width: 31.25em) {
  .contact-layout {
    grid-template-rows: 20vh 120vh repeat(4, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0vw, 1fr));
  }
}
@media only screen and (max-width: 25em) {
  .contact-layout {
    grid-template-rows: 20vh 120vh repeat(4, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));
  }
}

.schedule-layout {
  grid-template-rows: min-content;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
@media only screen and (max-width: 75em) {
  .schedule-layout {
    grid-template-rows: min-content;
    grid-template-columns: repeat(auto-fit, minmax(1fr));
  }
}
@media only screen and (max-width: 68.75em) {
  .schedule-layout {
    grid-template-rows: min-content;
    grid-template-columns: repeat(auto-fit, minmax(1fr));
  }
}
@media only screen and (max-width: 56.25em) {
  .schedule-layout {
    grid-template-rows: min-content;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 37.05em) {
  .schedule-layout {
    grid-template-rows: min-content;
    grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));
  }
}
@media only screen and (max-width: 31.25em) {
  .schedule-layout {
    grid-template-rows: min-content;
    grid-template-columns: repeat(auto-fit, minmax(0vw, 1fr));
  }
}
@media only screen and (max-width: 25em) {
  .schedule-layout {
    grid-template-rows: min-content;
    grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));
  }
}

.header__navigation {
  list-style: none;
}
.header__navigation ul {
  display: flex;
  margin-right: 20rem;
  column-gap: 2rem;
  list-style-type: none;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.header__navigation a {
  text-decoration: none;
  color: #26ae2a;
}
.header__navigation a:active {
  color: #54483A;
}
.header__navigation a:hover {
  color: #F9A826;
}

.info-bar {
  display: flex;
  height: 5rem;
  background-color: #26ae2a;
  align-items: center;
}
.info-bar__email-svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: #54483A;
  margin-left: 15rem;
  margin-right: 0.6rem;
}
.info-bar__email {
  font-size: 1.4rem;
  color: #f9f7f6;
}
.info-bar__phone-svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: #54483A;
  margin-left: 3rem;
  margin-right: 0.6rem;
}
.info-bar__phone {
  font-size: 1.4rem;
  color: #f9f7f6;
}

.social-icons {
  display: flex;
  align-items: center;
  margin-left: 70rem;
}
.social-icons__svg {
  margin-right: 2rem;
  height: 3rem;
  width: 3rem;
  fill: #54483A;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.3s ease;
  border: solid 0.3rem #54483A;
  padding: 0.5rem;
}
.social-icons__svg :hover {
  fill: #F9A826;
}

.header {
  display: flex;
  width: 100%;
  height: 12rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__logo-box {
  height: 10rem;
  width: 3rem;
  margin-left: 5rem;
  margin-top: 2rem;
}
.header__logo {
  height: 6rem;
}
.header__title {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #26ae2a;
  position: absolute;
  bottom: 0.5rem;
  left: 5rem;
}

.intro-section {
  grid-column: center-start/center-end;
  padding: 4rem 2rem;
  font-family: "Poppins", sans-serif;
}
.intro-section .intro-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.intro-section .intro-container .intro-left {
  flex: 1;
  min-width: 300px;
}
.intro-section .intro-container .intro-left h1 {
  font-size: 3.3rem;
  color: #123b0e;
  margin-bottom: 1rem;
}
.intro-section .intro-container .intro-left p {
  font-size: 1.7rem;
  color: #333;
  margin-bottom: 1rem;
  line-height: 1.6;
}
.intro-section .intro-container .intro-left .btn-primary {
  display: inline-flex;
  align-items: center;
  background-color: #26ae2a;
  font-size: 1.5rem;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 25px;
  font-weight: 500;
  text-decoration: none;
  transition: background 0.3s;
}
.intro-section .intro-container .intro-left .btn-primary .arrow {
  margin-left: 0.5rem;
}
.intro-section .intro-container .intro-left .btn-primary:hover {
  background-color: #F9A826;
}
.intro-section .intro-container .intro-right {
  flex: 0.7;
  font-size: 1.5rem;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.intro-section .intro-container .intro-right .stats-box {
  font-size: 1.5rem;
  background: #F9A826;
  color: #000;
  padding: 1.5rem;
  border-radius: 12px;
  position: relative;
}
.intro-section .intro-container .intro-right .stats-box small {
  font-size: 1.5rem;
  font-weight: 600;
}
.intro-section .intro-container .intro-right .stats-box h2 {
  font-size: 2.5rem;
  margin: 0.5rem 0;
}
.intro-section .intro-container .intro-right .stats-box p {
  font-size: 1.2rem;
  color: #090808;
}
.intro-section .intro-container .intro-right .features-box {
  background: #26ae2a;
  color: #fff;
  padding: 1.5rem;
  border-radius: 12px;
}
.intro-section .intro-container .intro-right .features-box .features-list {
  list-style: none;
  padding: 0;
  margin-bottom: 1.5rem;
}
.intro-section .intro-container .intro-right .features-box .features-list li {
  margin-bottom: 0.75rem;
}
.intro-section .intro-container .intro-right .features-box .features-list li i {
  color: #F9A826;
  margin-right: 0.5rem;
}
.intro-section .intro-container .intro-right .features-box .icon-features {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.intro-section .intro-container .intro-right .features-box .icon-features .feature-icon {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.intro-section .intro-container .intro-right .features-box .icon-features .feature-icon i {
  font-size: 1.5rem;
  color: #ffc107;
}
.intro-section .intro-container .intro-right .features-box .icon-features .feature-icon p {
  font-size: 1.5rem;
  margin: 0;
  font-size: 0.9rem;
}
.intro-section .intro-container .intro-right .features-box .read-more {
  display: inline-block;
  margin-top: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid #ffc107;
  padding-bottom: 0.25rem;
}
.intro-section .intro-container .intro-right .features-box .read-more:hover {
  color: #ffc107;
}
.intro-section .intro-image {
  margin-top: 3rem;
}
.intro-section .intro-image img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 12px;
}

.btn-carousel {
  font-size: 2rem;
  padding: 1.5rem 6rem;
  border-radius: 2rem;
  cursor: pointer;
  background-color: #26ae2a;
}
.btn-carousel:hover {
  color: #f9f7f6;
  background-color: #F9A826;
}

@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  grid-column: full-start/full-end;
}
.carousel .carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  z-index: 1;
}
.carousel .carousel-slide.active {
  opacity: 1;
  z-index: 2;
}
.carousel .carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  animation: zoomInOut 20s ease-in-out infinite;
}
.carousel .carousel-slide .carousel-text {
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translateY(-50%);
  color: #fff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  animation: fadeInUp 2s ease-out forwards;
  opacity: 0;
}
.carousel .carousel-slide .carousel-text h2 {
  font-size: 7rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-shadow: #54483A;
  color: #26ae2a;
  margin-bottom: 1rem;
}
.carousel .carousel-slide .carousel-text p {
  font-size: 4rem;
  color: #F9A826;
  font-weight: 600;
}
.carousel .carousel-slide.active .carousel-text {
  opacity: 1;
  animation: fadeInUp 2s ease-out forwards;
}
.carousel .carousel-dots {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.carousel .carousel-dots .dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.carousel .carousel-dots .dot.active {
  background-color: #fff;
}
.carousel .carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;
  transition: background-color 0.3s;
}
.carousel .carousel-arrow:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.carousel .carousel-arrow.prev {
  left: 20px;
}
.carousel .carousel-arrow.next {
  right: 20px;
}
.carousel .curve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 5;
}
.carousel .curve svg {
  position: relative;
  display: block;
  width: calc(136% + 1.3px);
  height: 123px;
}
.carousel .curve .shape-fill {
  fill: #FFF8E7;
}

.features {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 4rem 2rem;
  margin-top: 2rem;
  background-color: #F9A826;
}
.features .product-card {
  position: relative;
  height: 50rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.features .product-card img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.features .product-card .product-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 1rem;
  cursor: pointer;
  transition: height 0.6s ease, padding 0.6s ease;
  overflow: hidden;
  height: 60px;
}
.features .product-card .product-info h3 {
  margin: 0;
  font-size: 2.5rem;
  z-index: 2;
}
.features .product-card .product-info .details {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease, opacity 0.6s ease;
  margin-top: 1rem;
}
.features .product-card .product-info .details p {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
.features .product-card .product-info .details .learn-more {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background: #F9A826;
  color: #000;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
.features .product-card .product-info .details .learn-more svg {
  width: 16px;
  height: 16px;
}
.features .product-card .product-info:hover {
  height: 100%;
  padding: 2rem;
}
.features .product-card .product-info:hover .details {
  opacity: 1;
  max-height: 500px;
}

/*# sourceMappingURL=style.css.map */
