


@keyframes zoomInOut {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  grid-column: full-start / full-end;

    @media only screen and (max-width:$bp-medium) {
         
            
        }

     @media only screen and (max-width:$bp-small) {
            
        }

     @media only screen and (max-width:$bp-smaller) {
          
        }
    

      @media only screen and (max-width:$bp-smallest) {
         
        }
  

  .carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    z-index: 1;

    &.active {
      opacity: 1;
      z-index: 2;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(50%);
      animation: zoomInOut 20s ease-in-out infinite;

        @media only screen and (max-width:$bp-medium) {
               max-width: 100%;
             
            }

        @media only screen and (max-width:$bp-small) {
               max-width: 100%;
            }

        @media only screen and (max-width:$bp-smaller) {
               max-width: 100%;
            }
        

          @media only screen and (max-width:$bp-smallest) {
                max-width: 100%;

            }
    }

    .carousel-text {
      position: absolute;
      top: 30%;
      left: 10%;
      transform: translateY(-50%);
      color: #fff;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
      animation: fadeInUp 2s ease-out forwards;
      opacity: 0;

      h2 {

        font-size: 7rem;
        font-weight: 600;
        font-family: $font-display;
        text-shadow: $color-grey-dark-1 ;
        color: $color-primary-dark;
        margin-bottom: 1rem;
      }

      p {
        font-size: 4rem;
        color: $color-secondary;
        font-weight: 600;
      }

      @media only screen and (max-width:$bp-medium) {
      position: absolute;
      top: 20%;
      left: 10%;
      transform: translateY(-50%);
      color: #fff;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
      animation: fadeInUp 2s ease-out forwards;
      opacity: 0;

      h2 {

        font-size: 5rem;
        font-weight: 600;
        font-family: $font-display;
        text-shadow: $color-grey-dark-1 ;
        color: $color-primary-dark;
        margin-bottom: 1rem;
      }

      p {
        font-size: 3rem;
        color: $color-secondary;
        font-weight: 600;
      }
            
        }

        @media only screen and (max-width:$bp-small) {
            
        }

         @media only screen and (max-width:$bp-smaller) {

          position: absolute;
          top: 15%;
          left: 10%;
          transform: translateY(-50%);
          color: #fff;
          text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
          animation: fadeInUp 2s ease-out forwards;
          opacity: 0;

          h2 {

            font-size:3.3rem;
            font-weight: 600;
            font-family: $font-display;
            text-shadow: $color-grey-dark-1 ;
            color: $color-primary-dark;
            margin-bottom: 1rem;
          }

          p {
            font-size: 2rem;
            color: $color-secondary;
            font-weight: 600;
          }
           
        }

         @media only screen and (max-width:$bp-smallest) {
      
          position: absolute;
          top: 10%;
          left: 10%;
          transform: translateY(-50%);
          color: #fff;
          text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
          animation: fadeInUp 2s ease-out forwards;
          opacity: 0;

          h2 {

            font-size: 5rem;
            font-weight: 600;
            font-family: $font-display;
            text-shadow: $color-grey-dark-1 ;
            color: $color-primary-dark;
            margin-bottom: 1rem;
          }

          p {
            font-size: 3rem;
            color: $color-secondary;
            font-weight: 600;
          }
            
        }
    }

    &.active .carousel-text {
      opacity: 1;
      animation: fadeInUp 2s ease-out forwards;
    }
  }

  .carousel-dots {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;

    .dot {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: 0 6px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.6);
      cursor: pointer;

      &.active {
        background-color: #fff;
      }
    }
  }

  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 4;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }

    &.prev {
      left: 20px;
    }

    &.next {
      right: 20px;
    }
  }

  .curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    border: none;
    transform: rotate(180deg);
    z-index: 5;
}

.curve svg {
    position: relative;
    display: block;
    width: calc(136% + 1.3px);
    height: 123px;
}

.curve .shape-fill {
    fill: 	#FFF8E7;
}
 
}
