// COLOR VARIABLES
$color-primary: #4CAF50;
$color-primary-dark:#26ae2a;

$color-secondary: #F9A826 ;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;
$color-grey-light-3: #f6f4f4;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Poppins', sans-serif;
// $font-display: 'Josefin Sans', sans-serif;










//////////////////////////////
/// margins
mb-sm {margin-bottom: 2rem;}
mb-md {margin-bottom: 3rem;}
mb-lg{margin-bottom: 4rem;}
mb-hg {margin-bottom: 8rem;}


mt-sm {margin-top: 2rem;}
mt-md {margin-top: 3rem;}
mt-lg{margin-top: 4rem;}
mt-hg {margin-top: 8rem;}






//FONT

$default-font-size: 1.7rem;
$default-font-size2:1.5rem;
$default-font-size3:1.2rem;

$heading-primary-font-main:3rem;

$heading-secondary-font: 2.5rem;

$heading-tertiary-font:2rem;